<body class="bg-dark">
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <a class="navbar-brand" href="#"><img src="./images/logo_metalurgica.png" alt="" width="50" height="50"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="/">Home </a>
                </li>        
                <li class="nav-item">
                    <a class="nav-link" href="/productos">Productos</a>
                </li>
            </ul>       
            <div class="d-flex ">
            <a class="btn btn-danger" href="/login">Iniciar Sesión</a>
            </div>
           
            <div class="d-flex">
                <a class="btn btn-warning" href="/registro">Registrate</a>
            </div>
        </div>
    </div>
</nav>
    <div class="container mt-3">
    <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="carousel">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="images/galpon.jpg" class="d-block w-100" style="width: 600px; height: 400px;" alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/local.jpg" class="d-block w-100" style="width: 600px; height: 400px;"alt="...">
          </div>
          <div class="carousel-item">
            <img src="images/empleado.jpg" class="d-block w-100" style="width: 600px; height: 400px;"alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
    </div>
    </div>


  <div class="container bg-primary mt-3 col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/mision.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">MISIÓN</h1>
        <p style="color: white">Lorem ipsum dolor sit amet consectetur adipisicing elit. Dignissimos provident praesentium recusandae, nam itaque iste velit doloremque, minus voluptate similique blanditiis atque dolore? Quasi corporis facilis natus, blanditiis sit facere!</p>   
      </div>
    </div>
  </div>

  <div class="container bg-primary mt-3 col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/vision.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">VISIÓN</h1>
        <p style="color: white">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Corporis cumque quisquam quis numquam, non aliquam soluta. Deleniti exercitationem praesentium sit laudantium quia officia omnis consequuntur ullam eaque possimus! Alias, est.</p>    
      </div>
    </div>
  </div>

  <div class="container bg-primary mt-3 col-xxl-8 px-4 py-5">
    <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
      <div class="col-10 col-sm-8 col-lg-6">
        <img src="images/objetivos.jpg" class="d-block mx-lg-auto img-fluid" width="700" height="500">
      </div>
      <div class="col-lg-6">
        <h1 class="display-5 fw-bold lh-1 mb-3">OBJETIVOS</h1>
        <p style="color: white">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Vel qui repudiandae eligendi incidunt tempore suscipit repellendus harum perferendis blanditiis. Repudiandae repellat aperiam voluptatibus consequatur voluptatum autem nisi neque porro nulla.</p>
       
      </div>
    </div>
  </div>


    <div class="footer-dark mt-3">
        <footer>
            <div class="container">
                <div class="row">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li><a href="/">Inicio</a></li>
                            <li><a href="/productos">Productos</a></li>
                            <li><a href="/login">Iniciar Sesión</a></li>
                            <li><a href="/login">Registatate</a></li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Contacto</h3>
                        <ul class="mt-2 mb-2">
                            <li><i class="fas fa-phone-square-alt fa-fw"></i><a>+54 263 4364452</a></li>
                            <li><i class="fas fa-envelope-open fa-fw"></i><a >metalurgicarvia@gmail.com</a></li>
                            <li><i class="fas fa-map-marker-alt fa-fw"></i><a>San Isidro 465 - Rivadavia (Mza)</a></li>
                        </ul>
                    </div>
                    <div class="col-md-6 item text">
                        <h3>Metalurgica Rivadavia</h3>
                        <p>Somos una empresa que se focaliza en el diseño, fabricación y puesta en marcha de equipamiento industrial metalmecánico y electrónico en Mendoza.</p>
                    </div>
                    <div class="d-flex-item-center col item social">
                        <h3>Redes sociales</h3>
                        <a href="https://es-la.facebook.com/" target="blank"><i class="fab fa-facebook-square"></i></a>
                        <a href="https://twitter.com/?lang=es" target="blank"><i class="fab fa-twitter-square"></i></a>
                        <a href="https://www.instagram.com/?hl=es" target="blank"><i class="fab fa-instagram-square"></i></a>
                        
                    </div>
                </div>
                <p class="copyright">Copyright © 2021 - Metalurgica Rivadavia</p>
            </div>
        </footer>
    </div>

    </body>